In [5]:
n=int(input())
rev=ec=od=co=0
p=n
while n!=0:
    k=n%10
    co+=1
    if k%2==0:
        ec+=1
    else:
        od+=1
    rev=rev*10+k
    n=n//10
print("Given number is: {}\nReverse of a number is: {}\n"
"Even number count is: {}\nOdd number count is: {}\n"
"Length of a number is: {}".format(p,rev,ec,od,co))

123789152319263757324527347289341702347615432
Given number is: 123789152319263757324527347289341702347615432
Reverse of a number is: 234516743207143982743725423757362913251987321
Even number count is: 18
Odd number count is: 27
Length of a number is: 45

# Strings:

In [30]:
s="Python Course"
print(s)
print(s[:])
print(len(s))
print(s[0])
print(s[1]) #s[startingpoint:endpoint]
print(s[-11])
print(s[1:])
print(s[:1])
print(s[:-1])
print(s[-1:])
print(s[5:2:-1]) #s[startingpoint:endpoint:skipping]
print(s[-1::-1])

Python Course
Python Course
13
P
y
t
ython Course
P
Python Cours
e
noh
esruoC nohtyP

In [15]:
s="Python Course"
for i in s:
    print(i,end=" ")

P y t h o n   C o u r s e

In [31]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [60]:
s="Python SeSSionSSSS"
print(s.capitalize())
print(s.casefold())
print(s.center(24))
print(s.count('SS'))
print(s.index('S'))
print("#".join(s))
print(s.lower())
print(s.replace('S','@'))
print(s.split(" "))
print(s.swapcase())
print(s.title())
print(s.upper())

Python sessionssss
python sessionssss
   Python SeSSionSSSS
3
7
P#y#t#h#o#n# #S#e#S#S#i#o#n#S#S#S#S
python sessionssss
Python @e@@ion@@@@
['Python', 'SeSSionSSSS']
pYTHON sEssIONssss
Python Sessionssss
PYTHON SESSIONSSSS

# Functions:

 ```
 - To Perform a specific Task
 - To reduce the code and complexity of a problem
 
 Syntax: 
         def function_name(arguments):
             return return_value
```

```
User Defined Functions:
    - With return type and with arguments
    - With return type and without arguments
    - Without return type and with arguments
    - Without return type and without arguments
```

### With return type and with arguments

    - Reading -> Function Outer
    - Logic   -> Function
    - Printing-> Function Outer

In [63]:
def cheod(m):
    if m%2==0:
        return 34
    return 50

n=int(input())
if cheod(n)==34:
    print("Given number {} is Even".format(n))
else:
    print("Given number {} is Odd".format(n))

4
Given number 4 is Even

In [65]:
def sumofdigits(k):
    sum=0
    while k!=0:
        sum=sum+k%10
        k=k//10
    return sum

n=int(input())
print("Given number is: {} and its sum is: {}".format(n,sumofdigits(n)))

1234
Given number is: 1234 and its sum is: 10

### With return type and without arguments

    - Reading -> Function 
    - Logic   -> Function
    - Printing-> Function Outer

In [71]:
def checkpalin():
    n=int(input())
    k=n
    rev=0
    print("Given number is: {}".format(k),end=" ")
    while n!=0:
        rev=rev*10+n%10
        n=n//10
    if rev==k:
        return 5
    else:
        return 11

if checkpalin()==5:
    print("Palindrome")
else:
    print("Not Palindrome")

123
Given number is: 123 Not Palindrome

### Without return type and with arguments

    - Reading -> Function Outer
    - Logic   -> Function
    - Printing-> Function

In [73]:
def printnatural(m):
    for i in range(0,m+1,2):
        print(i,end=" ")
    return

n=int(input())
printnatural(n)

20
0 2 4 6 8 10 12 14 16 18 20

### Without return type and without arguments

    - Reading -> Function
    - Logic   -> Function
    - Printing-> Function

In [74]:
def factor():
    n=int(input())
    f=1
    for i in range(n,1,-1):
        f=f*i
    print("Given number is: {} and its factorial is: {}".format(n,f))
    return

factor()

5
Given number is: 5 and its factorial is: 120

In [75]:
factor()

45
Given number is: 45 and its factorial is: 119622220865480194561963161495657715064383733760000000000

Hackerrank Problem -> Leap

# Data Structures:
```
- List       ->  []
- Tuple      ->  ()
- Set        ->  {}
- Dictionary ->  {}
```

```
 - List -> [] -> list()
        -> Immutable Data type elements (Changeable)
        -> Ordered Data (index)
        
 - Tuple -> () -> tuple()
         -> Mutable Data type elements (Not Changeable)
         -> Ordered Data (index)
         
 - Set -> {} -> set()
       -> Immutable Data type elements (Changeable)
       -> Unordered Data (no index)
       -> To remove Duplicate values
 
 - Dictionary -> {} -> Collections (key,value)
              -> {key_name:value} 
              -> {sno:'123',name:'Raju'}
              -> Immutable Data type elements (Changeable)
              -> Ordered Data (index)
              -> items() -> {key:value}
              
              
    List <-> Tuple <-> Set
```

In [85]:
l=[1,'3','45.00',45.7899,"Raju","Suresh"]
print(l[0])
print(l[-1])
print(l)
print(type(l))
print(l[:])
print(l[2:-1])
print(l[4:1:-1])

1
Suresh
[1, '3', '45.00', 45.7899, 'Raju', 'Suresh']
<class 'list'>
[1, '3', '45.00', 45.7899, 'Raju', 'Suresh']
['45.00', 45.7899, 'Raju']
['Raju', 45.7899, '45.00']

In [89]:
n=input()
n=n.split()
print(n)
print(type(n))

4 5 85 6 7 23 45
['4', '5', '85', '6', '7', '23', '45']
<class 'list'>

In [90]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [97]:
l=[2,45,'67',78,45,45,45,45]
k=[]
n=int(input())
k.append(n)
print(l)
print(k)
k.extend(l)
print(k)
print(k.count(n))
print(l.count(45))
print(l.index(78))
l.insert(6,300)
print(l)

450
[2, 45, '67', 78, 45, 45, 45, 45]
[450]
[450, 2, 45, '67', 78, 45, 45, 45, 45]
1
5
3
[2, 45, '67', 78, 45, 45, 300, 45, 45]

In [104]:
li=[45,56,23,90,230]
li.sort()
print(li)
li.sort(reverse=True)
print(li)
li.pop()
print(li)
li.reverse()
print(li)
li.remove(90)
print(li)
print(len(li))
li.clear()
print(li)

[23, 45, 56, 90, 230]
[230, 90, 56, 45, 23]
[230, 90, 56, 45]
[45, 56, 90, 230]
[45, 56, 230]
3
[]

In [105]:
li

[]

In [106]:
n=input()
n=n.split()
k=[]
print(n)
for i in n:
    k.append(int(i))
    print(k)

4 3 34 23 45 2345
['4', '3', '34', '23', '45', '2345']
[4, 3, 34, 23, 45, 2345]

In [110]:
def Evnoddli(k):
    evn=[]
    odd=[]
    for i in k:
        if i%2==0:
            evn.append(i)
        else:
            odd.append(i)
    print("Given list is: {}".format(k))
    print("Even numbers in list is: {} and its sum is: {}"
          .format(evn,sum(evn)))
    print("Odd numbers in list is: {} and its sum is: {}"
          .format(odd,sum(odd)))
    return

n=int(input())
li=[]
for i in range(1,n+1):
    m=int(input())
    li.append(m)
Evnoddli(li)

4
12
2
3
5
Given list is: [12, 2, 3, 5]
Even numbers in list is: [12, 2] and its sum is: 14
Odd numbers in list is: [3, 5] and its sum is: 8

In [112]:
t=(2,'34',34.500,'32.0',"Kiran")
print(t)
print(t[0])
print(t[-1])

(2, '34', 34.5, '32.0', 'Kiran')
2
Kiran

In [113]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [115]:
t=(34,45,5,67,23,45)
print(t.count(5))
print(t.index(34))

1
0

In [119]:
t=(34,4,23,0,95,3,3,4)
k=list(t)
print(t)
print(type(t))
print(k)
print(type(k))
k.sort()
print(k)
l=tuple(k)
print(l)

(34, 4, 23, 0, 95, 3, 3, 4)
<class 'tuple'>
[34, 4, 23, 0, 95, 3, 3, 4]
<class 'list'>
[0, 3, 3, 4, 4, 23, 34, 95]
(0, 3, 3, 4, 4, 23, 34, 95)

In [120]:
s={'23','4',5,"Raju",'45.00',45.00}
print(s)

{'23', '45.00', 5, 45.0, '4', 'Raju'}

In [121]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [124]:
s={2,45,2,34,578,34,2,3,5}
print(s)
s.add(56)
print(s)

{2, 3, 578, 34, 5, 45}
{2, 3, 578, 34, 5, 45, 56}

In [127]:
s={3,4,5,6,78}
s1={3,4,56,34,25}
s.difference(s1)
print(s)
s1.difference(s)
print(s1)

{3, 4, 5, 6, 78}
{34, 3, 4, 56, 25}

In [135]:
k={34,3,4,56,78}
l={34,5,67,45}
p=k.union(l)
ll=k.intersection(l)
print(p)
p.remove(5)
print(p)
print(ll)
ll.pop()
print(ll)

{34, 3, 4, 67, 5, 45, 78, 56}
{34, 3, 4, 67, 45, 78, 56}
{34}
set()

In [139]:
m={234,34,45,6,7,8,90}
m.pop()
m.remove(6)
print(m)
m.clear()
print(m)

{7, 8, 234, 45, 90}
set()

```
11

34 5 5 34 6 7 8 4 6 2 1 
34 5 6 7 8 4 2 1
1 2 4 5 6 7 8 34

task:
    
    5
    4 4 2 2 1
    4 -> 2
    2 -> 2
    1 -> 1
    ```

```
https://github.com/nrkravikumar
    
SKUCET
    ```

In [142]:
def sortunor(k):
    ll=set(k)
    print(ll)
    li=list(ll)
    print(li)
    li.sort()
    print(li)
    return

n=int(input())
l=[]
for i in range(1,n+1):
    m=int(input())
    l.append(m)
print(l)
sortunor(l)

11
34
5
5
34
6
7
8
4
6
2
1
[34, 5, 5, 34, 6, 7, 8, 4, 6, 2, 1]
{1, 34, 2, 4, 5, 6, 7, 8}
[1, 34, 2, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8, 34]