In [15]:
def average(array):
    p=set(array)
    sum=0
    for i in list(p):
        sum = sum + i
    return sum/len(p)

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

```
10
161 182 161 154 176 170 167 171 170 174
```

# Markdown Basics

# Headings:

## This is second heading
### This is Third Heading
#### This is Fourth Heading
##### This is Fifth Heading
###### This is Sixth Heading

# Styling Text:

## Bold:

**This is for bold styling example**

__This is for bold but we are using undersroll__

## Italic:

*This is for italic styling example*

_This is for italic but we are using undersroll_

## Strikethrough:

~~This is for strikethrough example~~

## Bold and Nested Italic:

**This is a bold styling *This is for italic* and it can be used in unserscroll also like _This is for italic using undersroll_**

## All Bold and Italic:

***This is for all bold and italic way***

# Quoting Text

> This is quoting text example

# Quoting Code

This is a `Quoting Code` example


```this is for single quoting code example
asdfsadf
sadfsadfasd```

# Links

Click here to proceed for google site [google](https://google.com)

Click here to Proceed for facebook [fb](https://fb.com)

Click here to proceed for youtube [youtube](https://youtube.com)

Click here to Proceed for SKU site [SKU](http://skucet.ac.in)

## Section Link

<img src="sku.jpg">

## Relative Link

Please see the sample text content [View](sample.txt)

Please see the SKU Logo [View Here](sku.jpg)

# Lists


### Ordered List

1. Chapter-1
2. Chapter-2
3. Chapter-3

### UnOrdered List

- Chapter-1
    * First Sub-Chapter -1
        - Second First Sub-Chapter -1.1
- Chapter-2
    * First Sub-Chapter -2
- Chapter-3

# Task List

- [x] selected
- [ ] a
- [ ] b
- [ ] \(optional)

# Mentioning People and teams

@sample@gmail.com/inbox

# Using Emoji


Enjoy the Day ðŸ‘

# Python Basics:

## Variable:

    - To store a value
    - To change the value to a variable

In [16]:
a=23
print(a)
b=a+11
b

23

34

In [17]:
a
b

34

In [18]:
print(a)
print(b)

23
34

In [13]:
'''a=60
b=34
c=70
d=120
'''
a,b,c,d=60,34,70,120
print(a)
print(b)
print(c)
print(d)

60
34
70
120

## Data Type

- int -> only numeric alues
- float -> only decimal point values 
- string -> group of characters(single quote)
- complex -> imaginary part and real part(3+4j)

## Type

- To know which type of data is to be stored to a variable

In [2]:
n,m,o,p=23,'34','raju',45.00
print(n)
print(type(n))
print(m)
print(type(m))
print(o)
print(type(o))
print(p)
print(type(p))

23
<class 'int'>
34
<class 'str'>
raju
<class 'str'>
45.0
<class 'float'>

In [3]:
print(n,m,o,p)
print(type(n),
type(m),
type(o),
type(p))

23 34 raju 45.0
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [4]:
n='34'
print(n)
print(type(n))
print(int(n))
print(type(int(n)))

34
<class 'str'>
34
<class 'int'>

In [5]:
n

'34'

In [7]:
k=int(n)
print(k)
print(type(k))
l=q=w=e=k
print(l,q,w,e)

34
<class 'int'>
34 34 34 34

# Dynamic Way of inputting a value

In [12]:
n=input()
print(n)
print(type(n))

45.00
45.00
<class 'str'>

In [19]:
n=int(input())
m=float(input())
print(n)
print(type(n))
print(m)
print(type(m))
print(int(m))
print(type(int(m)))

34
45.00
34
<class 'int'>
45.0
<class 'float'>
45
<class 'int'>

```
Sample Program-1
Input: 4
       5
        
Output:
        Sum of 4 and 5 is: 9
        Diff of 4 and 5 is: -1
        Mul of 4 and 5 is: 20
        Div of 4 and 5 is: 0.8
        Mod of 4 and 5 is: 4
        Floor Div of 4 and 5 is: 0
        4 power of 5 is: 1024       
```

In [33]:
n=int(input())
m=int(input())
print("Sum of {} and {} is: {}".format(n,m,n+m))
print("Diff of {} and {} is: {}".format(n,m,n-m))
print("Mul of {} and {} is: {}".format(n,m,n*m))
print("Div of {} and {} is: {}".format(n,m,n/m))
print("Mod of {} and {} is: {}".format(n,m,n%m))
print("Floor Div of {} and {} is: {}".format(n,m,n//m))
print("{} power of {} is: {}".format(n,m,n**m))

4
5
Sum of 4 and 5 is: 9
Diff of 4 and 5 is: -1
Mul of 4 and 5 is: 20
Div of 4 and 5 is: 0.8
Mod of 4 and 5 is: 4
Floor Div of 4 and 5 is: 0
4 power of 5 is: 1024